[submodule "u-boot-artik"]
	path = u-boot-artik
	url = https://github.com/eunchurn/u-boot-artik
[submodule "linux-artik"]
	path = linux-artik
	url = https://github.com/eunchurn/linux-artik
	branch = A710/v4.4
[submodule "build-artik"]
	path = build-artik
	url = https://github.com/eunchurn/build-artik
[submodule "boot-firmwares-artik710"]
	path = boot-firmwares-artik710
	url = https://github.com/eunchurn/boot-firmwares-artik710
